services:
  nest-app:
    networks:
      - default
      - npm_default
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8989:8080'
    environment:
      PORT: ${PORT:-8080}
      HOST: ${HOST:-0.0.0.0}
      FRONT_ORIGIN: ${FRONT_ORIGIN:-http://localhost:3000}
      GITHUB_TOKEN: ${GITHUB_TOKEN}
      GITHUB_USERNAME: ${GITHUB_USERNAME}
      LINKEDIN_CLIENT_ID: ${LINKEDIN_CLIENT_ID}
      LINKEDIN_PRIMARY_CLIENT_SECRET: ${LINKEDIN_PRIMARY_CLIENT_SECRET}
      RESEND_API_KEY: ${RESEND_API_KEY}
      RESEND_FROM: ${RESEND_FROM}
      QUOTE_NOTIFY_TO: ${QUOTE_NOTIFY_TO}
      LINKEDIN_REDIRECT_URI: ${LINKEDIN_REDIRECT_URI}
      LINKEDIN_ACCESS_TOKEN: ${LINKEDIN_ACCESS_TOKEN}
      GRAVATAR_API_KEY: ${GRAVATAR_API_KEY}
      GRAVATAR_STUB: ${GRAVATAR_STUB}

networks:
  default:
    driver: bridge
  npm_default:
    external: true